@import '_setting.scss';

.card-item {
    padding: $gap;
    background-color: #fff;
    font-weight: 400;
    &:not(:last-child) {
        margin-bottom: $gap;
    }
    border-radius: 3px;
}

.card-cover {
    display: block;
    width: calc(100% + 2 * #{$gap});
    margin: -$gap 0 $gap (-$gap);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
