@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

$gap: 10px;
$board-bg-color: #0079bf;
$app-bar-color: #0066a0;
$list-bg-color: #ebecf0;

$col-header-height: 40px;
$col-footer-height: 38px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Radio Canada', sans-serif;
    line-height: 1.3em;
    font-size: 14px;
}

.trello-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 45px 50px 1fr;
    background-color: $board-bg-color;

    .navbar {
        display: flex;
        align-items: center;
        padding-left: $gap;

        &.app {
            background-color: $app-bar-color;
            font-size: 1.5rem;
        }

        &.board {
            font-size: 1.1rem;
        }
    }

    .board-cols {
        display: flex;
        overflow-x: auto;
        &::-webkit-scrollbar {
            height: 12px;
            width: 8px;
        }
        margin: 0 10px 10px;

        &::-webkit-scrollbar-thumb {
            background: #091e4214;
            border-radius: 5px;
            background: #66a4c7;
        }

        .col {
            flex: 0 0 auto;
            width: 272px;
            &:not(:first-child) {
                margin-left: $gap;
            }
            height: calc(100vh - 130px);
            background-color: $list-bg-color;
            padding: 0 4px;

            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

            > * {
                color: #172b4d;
                font-size: 16px;
                font-weight: 500;
                padding: 0 4px;
            }

            header {
                height: $col-header-height;
                line-height: $col-header-height;
            }

            footer {
                height: $col-footer-height;
                line-height: $col-footer-height;
            }

            ul {
                height: calc(100% - #{$col-header-height} - #{$col-footer-height});
                overflow-y: auto;
                &::-webkit-scrollbar {
                    height: 1em;
                    width: 8px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #091e4214;
                    border-radius: 4px;
                }

                li {
                    padding: $gap;
                    background-color: #fff;
                    &:not(:last-child) {
                        margin-bottom: $gap;
                    }
                    border-radius: 3px;
                }

                img {
                    display: block;
                    width: calc(100% + 2 * #{$gap});
                    margin: -$gap 0 $gap (-$gap);
                    border-top-right-radius: 3px;
                    border-top-left-radius: 3px;
                }
            }
        }
    }
}
