@import '_setting.scss';
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

$board-bg-color: #0079bf;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Radio Canada', sans-serif;
    line-height: 1.3em;
    font-size: 14px;
}

.trello-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 45px 50px 1fr;
    background-color: $board-bg-color;

    
}
